<script>
const currentTheme = localStorage.getItem('theme') ? localStorage.getItem('theme') : null;
const lightIcon = document.getElementById("light-icon");
const darkIcon = document.getElementById("dark-icon");

if (currentTheme) {
    document.documentElement.setAttribute('data-theme', currentTheme);

    if (currentTheme === 'dark') {
        lightIcon.style.display = "block";
    } else {
        darkIcon.style.display = "block";
    }
} else {
    document.documentElement.setAttribute('data-theme', 'light');
    darkIcon.style.display = "block";
}

function toggleDarkMode() {
    const currentToggleTheme = document.documentElement.getAttribute('data-theme');
    if (currentToggleTheme === 'light') {
        document.documentElement.setAttribute('data-theme', 'dark');
        lightIcon.style.display = "block";
        darkIcon.style.display = "none";
        localStorage.setItem('theme', 'dark');
    } else {
        document.documentElement.setAttribute('data-theme', 'light');
        darkIcon.style.display = "block";
        lightIcon.style.display = "none";
        localStorage.setItem('theme', 'light');
    }
}
</script>
<script>
var prevScrollpos = window.pageYOffset;
window.onscroll = function() {
var currentScrollPos = window.pageYOffset;
  if (prevScrollpos > currentScrollPos) {
    document.getElementById("navbar").style.top = "0";
  } else {
    document.getElementById("navbar").style.top = "-70px";
  }
  prevScrollpos = currentScrollPos;
}
</script>
<script src="https://vjs.zencdn.net/8.6.1/video.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/videojs-mobile-ui/dist/videojs-mobile-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/videojs-quality-selector-hls/dist/videojs-quality-selector-hls.min.js"></script>
<script>
  var source = document.querySelector("#my-video source");
  var sourceUrl = source.getAttribute("src");
  var videoPlayer = document.querySelector("#my-video");
  var isLiveVideo = false;
  if (sourceUrl && sourceUrl.includes(".m3u8")) {
    isLiveVideo = true;
  } else {
    videoPlayer.classList.add("not-live");
  }

  videojs("my-video", {
    controlBar: {
      volumePanel: {
        inline: false
      },
      children: [
        'playToggle',
        'volumePanel',
        'currentTimeDisplay',
        'progressControl',
        'durationDisplay',
        'liveDisplay',
        'seekToLive',
        'customControlSpacer',
        'playbackRateMenuButton',
        'chaptersButton',
        'descriptionsButton',
        'subsCapsButton',
        'audioTrackButton',
        'fullscreenToggle'
      ]
    },
    plugins: {
      mobileUi: {
        fullscreen: {
          enterOnRotate: false,
          exitOnRotate: false,
          lockOnRotate: false,
          lockToLandscapeOnEnter: true
        },
        touchControls: {
          disabled: isLiveVideo ? true : false
        }
      },
      qualitySelectorHls: {
        displayCurrentQuality: true
      }
    }
  });
</script>
<script>
const scrollTopBtn = document.querySelector('.js-scroll-up');
if (scrollTopBtn) {
  scrollTopBtn.onclick = () => {
    window.scrollTo({top: 0, behavior: 'smooth'});
  }

  const progressPath = document.querySelector('.scroll-up path');
  const pathLength = progressPath.getTotalLength();
  progressPath.style.transition = progressPath.style.WebkitTransition = 'none';
  progressPath.style.strokeDasharray = `${pathLength} ${pathLength}`;
  progressPath.style.strokeDashoffset = pathLength;
  progressPath.getBoundingClientRect();
  progressPath.style.transition = progressPath.style.WebkitTransition = 'stroke-dashoffset 10ms linear';
  const updateProgress = function() {
    const scroll = window.scrollY || window.scrollTopBtn || document.documentElement.scrollTopBtn;

    const docHeight = Math.max(
      document.body.scrollHeight, document.documentElement.scrollHeight,
      document.body.offsetHeight, document.documentElement.offsetHeight,
      document.body.clientHeight, document.documentElement.clientHeight
    );

    const windowHeight = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);

    const height = docHeight - windowHeight;
    var progress = pathLength - (scroll * pathLength / height);
    progressPath.style.strokeDashoffset = progress;
  }

  updateProgress();
  const offset = 100;

  window.addEventListener('scroll', function(event) {
    updateProgress();

    const scrollPos = window.scrollY || window.scrollTopBtn || document.getElementsByTagName('html')[0].scrollTopBtn;
    scrollPos > offset ? scrollTopBtn.classList.add('is-active') : scrollTopBtn.classList.remove('is-active');

  }, false);
}
</script>
