<!DOCTYPE html>
<!-- SPDX-License-Identifier: LGPL-2.1-or-later -->

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#201A26">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="stylesheet" href="{{ "/assets/style.css" | prepend: site.baseurl }}">

    <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />

    <link href="https://vjs.zencdn.net/8.6.1/video-js.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/videojs-mobile-ui/dist/videojs-mobile-ui.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/videojs-quality-selector-hls/dist/videojs-quality-selector-hls.css" />
    <style type="text/css">
      .video-js .vjs-current-time,
      .video-js .vjs-duration {
        display: block;
      }
      .vjs-live .vjs-current-time,
      .vjs-live .vjs-duration,
      .video-js .vjs-remaining-time,
      .video-js .vjs-picture-in-picture-control,
      .vjs-touch-overlay .vjs-play-control {
        display: none;
      }
      .not-live .vjs-quality-selector {
        display: none;
      }
    </style>
  </head>

  <body>

    {% include header.html %}

    <div class="container">
      {{ content }}
    </div>

    <script src="https://vjs.zencdn.net/8.6.1/video.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/videojs-mobile-ui/dist/videojs-mobile-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/videojs-quality-selector-hls/dist/videojs-quality-selector-hls.min.js"></script>
    <script>
      var source = document.querySelector("#my-video source");
      var sourceUrl = source.getAttribute("src");
      var videoPlayer = document.querySelector("#my-video");
      var isLiveVideo = false;
      if (sourceUrl && sourceUrl.includes(".m3u8")) {
        isLiveVideo = true;
      } else {
        videoPlayer.classList.add("not-live");
      }

      videojs("my-video", {
        controlBar: {
          volumePanel: {
            inline: false
          },
          children: [
            'playToggle',
            'volumePanel',
            'currentTimeDisplay',
            'progressControl',
            'durationDisplay',
            'liveDisplay',
            'seekToLive',
            'customControlSpacer',
            'playbackRateMenuButton',
            'chaptersButton',
            'descriptionsButton',
            'subsCapsButton',
            'audioTrackButton',
            'fullscreenToggle'
          ]
        },
        plugins: {
          mobileUi: {
            fullscreen: {
              enterOnRotate: false,
              exitOnRotate: false,
              lockOnRotate: false,
              lockToLandscapeOnEnter: true
            },
            touchControls: {
              disabled: isLiveVideo ? true : false
            }
          },
          qualitySelectorHls: {
            displayCurrentQuality: true
          }
        }
      });
    </script>

    {% include footer.html %}

    <script src="/assets/lazysizes.min.js" async=""></script>
  </body>

</html>
